{% extends 'base.html.twig' %}

{% block body %}
	<h1>Created Rooms</h1>
	<table border="1">
			<tr>
				<th>Room ID</th>
				<th>Members</th>
				<th>Actions</th>
			</tr>
		{% for room in app.user.createdRooms %}
			<tr>
				<td>{{ room.id }}</td>
				<td>{{ room.members|join(',') }}</td>
				<td>
					<a href="/delete-room/{{ room.id }}">Delete</a>
					<a href="#" onclick="addUserToRoom({{ room.id }}); return false;">Add User</a>
				</td>
			</tr>
    	{% endfor %}
  	</table>
  	
  	<a href="/create-room">Create Room</a> 
  	
  	<h1>Member of Rooms</h1>
  	<table border="1">
  			<tr>
  				<th>Room ID</th>
  				<th>Creator</th>
  				<th>Members</th>
  			</tr>
  		{% for room in app.user.memberOfRooms %}
  			<tr>
  				<td>{{ room.id }}</td>
  				<td>{{ room.creator.username }}</td>
  				<td>{{ room.members|join(',') }}</td>
  			</tr>
  		{% endfor %}
  	</table>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		function addUserToRoom(roomID) {
			var username = prompt("Enter username");
			if (username != null) {
				window.location.href = "/add-user/" + roomID + "/" + username;
			}
		}
	</script>
{% endblock %}
